---
// import PageTitle from "@components/PageTitle.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="about">
  <main>
    <div>
      <p>
        I am currently working on my personal website in order to test out ideas
        for a Code Jam. I am adding this now page, images, styles, animation and
        content. Check back for more soon.
      </p>
    </div>
  </main>
</Layout>

<style>
  main {
    font-size: 20px;
    padding-top: 5rem;
    padding-left: 8rem;
    padding-right: 8rem;
    height: 80vh;
  }
</style>
