---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

const images = [
  {
    name: "Cheers",
    instock: 4,
    description: "Save water, drink beer.",
    src: ["./assets/beer1.png"],
  },
  {
    name: "Merry Christmas",
    instock: 4,
    description: "So have yourself a merry little christmas.",
    src: ["./assets/tree1.png"],
  },
  {
    name: "Coo",
    instock: 2,
    description: "You are so coo.",
    src: ["./assets/cow1.png"],
  },
  {
    name: "Smile",
    instock: 0,
    description: "One smile a day, keeps doctor away.",
    src: ["./assets/p15.png"],
  },
  {
    name: "Pinky",
    description: "butterfly flower looking ",
    instock: 1,
    src: ["./assets/40a.png", "./assets/40b.png"],
  },
  {
    name: "Sea bird",
    instock: 1,
    description: "Sea bird for sea lovers.",
    src: ["./assets/41a.png", "./assets/41b.png"],
  },

  {
    name: "Starfish",
    instock: 2,
    description: "You are a start, just the way you are.",
    src: ["./assets/37a.png", "./assets/37a.png"],
  },
  {
    name: "Rainbow star",
    instock: 1,
    description: "Rainbow star with sparkly finish.",
    src: ["./assets/38b.png"],
  },
  {
    name: "Strawberry",
    instock: 1,
    description: "Summary strawberry with pink stones.",
    src: ["./assets/36a.png", "./assets/36b.png"],
  },
  {
    name: "Great green ",
    instock: 1,
    description: "Bright green color to lighten up your day.",
    src: ["./assets/39a.png", "./assets/39b.png"],
  },

  {
    name: "Rainbow Strap",
    instock: 1,
    description: "Rainbow starp that you can style as you want.",
    src: ["./assets/42a.png", "./assets/42a.png"],
  },
  {
    name: "Blue eyes",
    instock: 0,
    description: "Ocean blue eyes, look into mine.",
    src: ["./assets/43a.png"],
  },
];

console.log(images[0].src);
---

<Layout title="knitted love.">
  <main>
    <!-- cards with images -->
    <div>
      <ul class="cards">
        {
          images.map((image) => {
            return (
              <Card
                name={image.name}
                instock={image.instock}
                description={image.description}
                src={image.src[0]}
              />
            );
          })
        }
      </ul>
      <div></div>
    </div>
  </main>

  <style>
    main {
      margin: auto;
      padding: 1rem;
      margin-top: 3rem;
      width: auto;
      max-width: calc(100% - 2rem);
      background-color: #efd3c4;
      font-size: 19px;
      line-height: 1.6;
    }

    .cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
      gap: 2rem;
      padding: 0;
    }
  </style>
</Layout>
