---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

const images = [
  {
    name: "Pinky",
    description: "butterfly flower looking ",
    src: ["./assets/40a.png", "./assets/40b.png"],
  },
  {
    name: "Sea bird",
    description: "Sea bird for sea lovers.",
    src: ["./assets/41a.png", "./assets/41b.png"],
  },

  {
    name: "Starfish",
    description: "starfish with pearls and stones .",
    src: ["./assets/37a.png", "./assets/37a.png"],
  },
  {
    name: "Rainbow star",
    description: "rainbow star with sparkly finish.",
    src: ["./assets/38b.png"],
  },
  {
    name: "Strawberry",
    description: "summary strawberry with pink stones.",
    src: ["./assets/36a.png", "./assets/36b.png"],
  },
  {
    name: "Great green ",
    description: "bright green color to lighten up your day.",
    src: ["./assets/39a.png", "./assets/39b.png"],
  },

  {
    name: "Rainbow Strap",
    description: "Rainbow starp that you can style as you want.",
    src: ["./assets/42a.png", "./assets/42a.png"],
  },
  {
    name: "Blue eyes",
    description: "Ocean blue eyes, look into mine.",
    src: ["./assets/43a.png"],
  },
  {
    name: "dog lover",
    description: "take your pair of dogs for a walk.",
    src: ["./assets/44b.png"],
  },
  {
    name: "Green Strap",
    description: "wiggly string earring that you can style as you want.",
    src: ["./assets/34a.png", "./assets/34b.png"],
  },
];

console.log(images[0].src);
---

<Layout title="knitted love.">
  <main>
    <!-- header wicth name, gallary and about -->
    <h1><span class="text-gradient">Knitted Love</span></h1>

    <!-- cards with images -->
    <ul role="list" class="cards">
      {
        images.map((image) => {
          return (
            <Card
              name={image.name}
              description={image.description}
              src={image.src[0]}
            />
          );
        })
      }
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: auto;
    max-width: calc(100% - 2rem);
    background-color: pink;
    font-size: 20px;
    line-height: 1.6;
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
