---
import { Image } from "astro:assets";
// import type { Asset } from "astro/types";

interface Props {
  name: string;
  instock: number;
  description: string;
  src: string;
}

const { name, instock, description, src } = Astro.props;
---

<li class="bg-red-200 p-4 rounded text-black hover:bg-red-300" id="cards">
  <h2 class="item-name">
    {name}
  </h2>
  <span class="item-stock">{instock} available</span>
  <img class="item-img" src={src} />
  <p class="item-description">
    {description}
  </p>
</li>

<style>
  .item-img {
    height: 300px;
    width: 300px;
    display: block;
    margin: 0 auto;
    vertical-align: middle;
  }
  .item-stock {
    display: flex;
    justify-content: end;
  }
  .item-stock span {
    padding-left: 5px;
  }
</style>
