---
interface Props {
  href: string;
}

const { href } = Astro.props;
const pathName = new URL(Astro.request.url).pathname;
const pathSegments = pathName.split("/").filter(Boolean);
const hrefSegments = href.split("/").filter(Boolean);

const isParentPath =
  hrefSegments.length >= 1
    ? hrefSegments.every((segment, index) => {
        return segment === pathSegments[index];
      })
    : href === pathName;

const isSamePath = isParentPath && hrefSegments.length === pathSegments.length;
---

<a
  href={href}
  class:list={[
    isSamePath ? "font-bold no-underline text-xl " : "",
    "decoration-2 font-light text-yellow-900 text-lg inline-block mr-4 hover:text-yellow-700 ",
  ]}
>
  <slot />
</a>
